.image-preview img {
    border: 30px solid;
    border-top-color: skyblue;
    border-right-color: lightpink;
    border-bottom-color: lightgreen;
    border-left-color: #ffefd5;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}
  
table th {
    padding-right: 30px;
}

table td {
    padding-right: 30px;
}

table thead tr {
    border-bottom: 2px solid #dbdbdb;
}
  
table tbody tr {
    border-bottom: 1px solid #dbdbdb;
}

table th, table td {
    padding: .5em .75em;
    vertical-align: top;
}

table tr {
    width: 500px;
}